services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    network_mode: host
    privileged: true
    volumes:
      - /home/miguelpinto/Desktop/home-server/configs/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro